<div>
    <form ng-submit="addOrg()" name="orgForm" novalidate>
        <div class="form-group" ng-class="{ 'has-error': orgForm.name.$touched && orgForm.name.$invalid }">
            Name: <input type="text" 
            name="name" 
            ng-model="name" 
            ng-minlength="3" 
            ng-maxlength="8" 
            required/>
            
            <div class="help-block" ng-messages="orgForm.name.$error" ng-show="orgForm.name.$touched">
                <!-- show an error if name is too short -->
                <p ng-show="minlength">Name is too short.</p>
            
                <!-- show an error if name is too long -->
                <p ng-show="maxlength">Name is too long.</p>
            
                <!-- show an error if this isn't filled in -->
                <p ng-show="required">Your name is required.</p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': orgForm.code.$touched && orgForm.code.$invalid }">
            Code: <input type="text" 
            name="code"
            ng-model="code"
            ng-minlength="3" 
            ng-maxlength="8" 
            required/>
            <div class="help-block" ng-messages="orgForm.code.$error" ng-show="orgForm.code.$touched">
                <!-- show an error if name is too short -->
                <p ng-show="minlength">Code is too short.</p>
            
                <!-- show an error if username is too long -->
                <p ng-show="maxlength">Code is too long.</p>
            
                <!-- show an error if this isn't filled in -->
                <p ng-show="required">Your code is required.</p>
            </div>
        </div>
        <div>
            <button type="submit">Add Org</button>
        </div>
    </form>
</div>
<a href="#/listorg">Back To List</a>