<div ng-show="message.message != null">
    <div ng-show="message.status == 'ok'">
        <div class="success">{{message.message}}</div>
    </div>
    <div ng-show="message.status == 'error'">
        <div class="error">{{message.message}}</div>
    </div>
</div>


<div class="form-container">
    <form ng-submit="updateOrg()">
        <input type="hidden" name="id" ng-model="org.id"/>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <span class="form-title">Edit Organization</span>        
            </div>   
            <div class="row wrap">
                <div>
                    <div class="col-xs-12 col-sm-6"><span class="form-label">Organization Name:</span></div>
                    <div class="col-xs-12 col-sm-6"><input type="text" ng-model="org.name" name="name"/></div>  
                </div>
                <div>
                    <div class="col-xs-12 col-sm-6"><span class="form-label">Organization Code:</span></div>
                    <div class="col-xs-12 col-sm-6"><input type="text" ng-model="org.code" name="code"/></div>  
                </div>
            </div>
        </div>
        <div class="cols-xs-12 button-pull-right">
            <button type="submit" class="button">Update Organization</button> <a href="/orgs" class="button">Back To List</a>
        </div>
    </form>
</div>