<div class="form-container">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <span class="form-title">Process</span>        
        </div>   
        <div class="row wrap">
            <div ng-class="{ 'has-error': orgForm.name.$touched && orgForm.name.$invalid }">
                <div class="col-xs-12 col-sm-6">
                    <span class="form-label">Organization Name:</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <input type="text" name="name" id="name" ng-model="org.name"  ng-minlength="6" ng-maxlength="20" required/>
                    <div class="help-block" ng-messages="orgForm.name.$error" ng-show="orgForm.name.$touched">
                        <!-- show an error if name is too short -->
                        <p ng-message="minlength">Name is too short.</p>
                    
                        <!-- show an error if name is too long -->
                        <p ng-message="maxlength">Name is too long.</p>
                    
                        <!-- show an error if this isn't filled in -->
                        <p ng-message="required">Your name is required.</p>
                    </div>                    
                </div>  
            </div>
            <div ng-class="{ 'has-error': orgForm.code.$touched && orgForm.code.$invalid }">
                <div class="col-xs-12 col-sm-6">
                    <span class="form-label">Organization Code:</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <input type="text" name="code" id="code" ng-model="org.code"  ng-minlength="4" ng-maxlength="20" required/>
                    <div class="help-block" ng-messages="orgForm.code.$error" ng-show="orgForm.code.$touched">
                        <!-- show an error if name is too short -->
                        <p ng-message="minlength">Code is too short.</p>
                    
                        <!-- show an error if name is too long -->
                        <p ng-message="maxlength">Code is too long.</p>
                    
                        <!-- show an error if this isn't filled in -->
                        <p ng-message="required">Your code is required.</p>
                    </div>                    
                </div>  
            </div>
        </div>
    </div>
    <div class="cols-xs-12 button-pull-right">
        <button type="submit" class="button">Add Organization</button> <a href="/orgs"  class="button">Back To List</a>
    </div>
</div>

