<div ng-show="message.message != null">
    <div ng-show="message.status == 'ok'">
        <div class="success">{{message.message}}</div>
    </div>
    <div ng-show="message.status == 'error'">
        <div class="error">{{message.message}}</div>
    </div>
</div> 

<div class="form-container">
    <form ng-submit="updateLabel()" id="labelForm">
        <input type="hidden" name="id" ng-model="label.id"/>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <span class="form-title">Edit Label</span>        
            </div>   
            <div class="row wrap">
                <div>
                    <div class="col-xs-12 col-sm-6"><span class="form-label">Organization Code:</span></div>
                    <div class="col-xs-12 col-sm-6">
                        <!--<select name="org_code" ng-model="label.org_code" id="org_code" required disabled >-->
                        <!--    <option ng-repeat="org in orgs" value="{{org.code}}" {{label.org_code == org.code? 'selected':''}}>{{org.name}}</option>-->
                        <!--</select>-->
                        <select name="org_code" ng-model="label.org_code" ng-options="option.code as option.name for option in orgs">
	                    <option ng-disabled="true"  ng-selected="true" value="">Select  org</option>
	                </select>
                        <input type="hidden" name="org_code" ng-model="label.org_code" value="{{label.org_code}}"/>
                        <div class="help-block" ng-messages="labelForm.org_code.$error" ng-show="labelForm.org_code.$touched">
                            <!-- show an error if this isn't filled in -->
                            <p ng-message="required">Organization code is required.</p>
                        </div>
                    </div>  
                </div>
                <div>
                    <div class="col-xs-12 col-sm-6"><span class="form-label">Client Code:</span></div>
                    <div class="col-xs-12 col-sm-6">
                        <!--<select name="client_code" id="client_code" ng-model="label.client_code" required disabled >-->
                        <!--    <option ng-repeat="client in clients" value="{{client.code}}">{{client.name}}</option>-->
                        <!--</select>-->
                        <select name="client_code" id="client_code" ng-model="label.client_code" ng-options="value.code as value.name for value in clients |filter:{org_code:communication.org_code}" required>
                           <option ng-disabled="true"  ng-selected="true" value="">Select a Client</option>
                           <!-- <option ng-repeat="client in clients | filter:{org_code: org}" value="{{client.code}}">{{client.name}}</option>-->
                        </select>
                        <input type="hidden" name="client_code" ng-model="label.client_code" value="{{label.client_code}}"/>
                        <div class="help-block" ng-messages="labelForm.client_code.$error" ng-show="labelForm.client_code.$touched">
                            <!-- show an error if this isn't filled in -->
                            <p ng-message="required">Client code is required.</p>
                        </div>
                    </div>  
                </div>
                <div>
                    <div class="col-xs-12 col-sm-6"><span class="form-label">Realm Code:</span></div>
                    <div class="col-xs-12 col-sm-6">
                        <select name="realm_code" 
                        id="realm_code"
                        ng-model="label.realm_code"
                        required
                        disabled
                        >
                            <option ng-repeat="realm in realms" value="{{realm.code}}">{{realm.name}}</option>
                        </select>
                        <input type="hidden" name="realm_code" ng-model="label.realm_code" value="{{label.realm_code}}"/>
                        <div class="help-block" ng-messages="labelForm.realm_code.$error" ng-show="labelForm.realm_code.$touched">
                            <!-- show an error if this isn't filled in -->
                            <p ng-message="required">Realm code is required.</p>
                        </div>
                    </div>  
                </div>
                <div>
                    <div class="col-xs-12 col-sm-6"><span class="form-label">Key:</span></div>
                    <div class="col-xs-12 col-sm-6"><input type="text" ng-model="label.key" name="key"/></div>  
                </div>
            <div>
                    <div class="col-xs-12 col-sm-6"><span class="form-label">Label:</span></div>
                    <div class="col-xs-12 col-sm-6"><input type="text" ng-model="label.label_name" name="label"/></div>  
                </div>
                  <div>
                    <div class="col-xs-12 col-sm-6"><span class="form-label">Icon:</span></div>
                    <div class="col-xs-12 col-sm-6"><button type="file" ngf-select="uploadFiles($file)"
                          ngf-max-height="1000" ngf-max-size="1MB">
                      Select File</button>
                      <input type="hidden" name="icon" id="icon" ng-model="label.icon"  value={{f.name}}  required/>
                      <div style="font:smaller" id="icon1">{{label.icon}}
                    </div></div>    
                      {{errorMsg}}
                </div>
            </div>
        </div>
    	<div class="cols-xs-12 button-pull-right">
            <button type="submit" class="button">Update Label</button> <a href="/labels" class="button">Back To List</a>
        </div>
    </form>
</div>