<div ng-show="message.message != null">
    <div ng-show="message.status == 'ok'">
        <div class="success">{{message.message}}</div>
    </div>
    <div ng-show="message.status == 'error'">
        <div class="error">{{message.message}}</div>
    </div>
</div>


<div class="formWrapper">
    <div class="container">
        <div class="row">
            <div id="contentTable">
                <form ng-submit="updateOrg()">
                    <input type="hidden" name="id" ng-model="org.id"/>
            		<table class="col-sm-12 table-bordered table-striped table-condensed cf">
            				<thead class="cf">
            					<tr>
            						<th>Name</th>
            						<th>Code</th>
            					</tr>
            				</thead>
        					<tbody>
        					    <tr>
        							<td data-title="Name"><input type="text" ng-model="org.name" name="name"/></td>
        							<td data-title="Code"><input type="text" ng-model="org.code" name="code"/></td>
        						</tr>
        						<tr>
        						    <td colspan="2"><button type="submit" class="btn-lg">Update Org</button></td> 
        						</tr>
        					</tbody>
            		</table>
            	</form>
        	</div>	
        </div>
    </div>
</div>


<div class="formWrapper">
    <a href="/orgs" class="btn-lg">Back To List</a>        
</div>
