<div ng-show="message.message != null">
    <div ng-show="message.status == 'ok'">
        <div class="success">{{message.message}}</div>
    </div>
    <div ng-show="message.status == 'error'">
        <div class="error">{{message.message}}</div>
    </div>
</div> 

<div class="form-container">
    <form ng-submit="updatePraxi()" id="praxiForm">
        <input type="hidden" name="id" ng-model="praxi.id"/>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <span class="form-title">Edit Praxis</span>        
            </div>   
            <div class="row wrap">
                <div>
                    <div class="col-xs-12 col-sm-6"><span class="form-label">Organization Code:</span></div>
                    <div class="col-xs-12 col-sm-6">
                        <select name="org_code" ng-model="praxi.org_code" ng-options="option.code as option.name for option in orgs">
	                        <option ng-disabled="true"  ng-selected="true" value="">Select  org</option>
	                    </select>
                        <input type="hidden" name="org_code" ng-model="praxi.org_code" value="{{praxi.org_code}}"/>
                        <div class="help-block" ng-messages="praxiForm.org_code.$error" ng-show="praxiForm.org_code.$touched">
                            <!-- show an error if this isn't filled in -->
                            <p ng-message="required">Organization code is required.</p>
                        </div>
                    </div>  
                </div>
                <div>
                    <div class="col-xs-12 col-sm-6"><span class="form-label">Client Code:</span></div>
                    <div class="col-xs-12 col-sm-6">
                         <select name="client_code" id="client_code" ng-model="praxi.client_code" ng-options="value.code as value.name for value in clients |filter:{org_code:communication.org_code}" required>
                           <option ng-disabled="true"  ng-selected="true" value="">Select a Client</option>
                         </select>
                        <input type="hidden" name="client_code" ng-model="praxi.client_code" value="{{praxi.client_code}}"/>
                        <div class="help-block" ng-messages="praxiForm.client_code.$error" ng-show="praxiForm.client_code.$touched">
                            <!-- show an error if this isn't filled in -->
                            <p ng-message="required">Client code is required.</p>
                        </div>
                    </div>  
                </div>
                <div>
                    <div class="col-xs-12 col-sm-6"><span class="form-label">Realm Code:</span></div>
                    <div class="col-xs-12 col-sm-6">
                        <select 
                        name="realm_code" 
                        id="realm_code"
                        ng-model="praxi.realm_code"
                        required
                        disabled
                        >
                            <option ng-repeat="realm in realms" value="{{realm.code}}">{{realm.name}}</option>
                        </select>
                        <input type="hidden" name="realm_code" ng-model="praxi.realm_code" value="{{praxi.realm_code}}"/>
                        <div class="help-block" ng-messages="praxiForm.realm_code.$error" ng-show="praxiForm.realm_code.$touched">
                            <!-- show an error if this isn't filled in -->
                            <p ng-message="required">Realm code is required.</p>
                        </div>
                    </div>  
                </div>
                <div>
                    <div class="col-xs-12 col-sm-6"><span class="form-label">Process Code:</span></div>
                    <div class="col-xs-12 col-sm-6">
                        <select 
                        name="prosess_code" 
                        id="prosess_code"
                        ng-model="praxi.prosess_code"
                        required
                        disabled
                        >
                            <option ng-repeat="prosess in prosesses" value="{{prosess.code}}">{{prosess.name}}</option>
                        </select>
                        <input type="hidden" name="prosess_code" ng-model="praxi.prosess_code" value="{{praxi.prosess_code}}"/>
                        <div class="help-block" ng-messages="praxiForm.prosess_code.$error" ng-show="praxiForm.prosess_code.$touched">
                            <!-- show an error if this isn't filled in -->
                            <p ng-message="required">Process code is required.</p>
                        </div>
                    </div>  
                </div>
                <div>
                    <div class="col-xs-12 col-sm-6"><span class="form-label">Stage Code:</span></div>
                    <div class="col-xs-12 col-sm-6">
                        <select 
                        name="stage_code" 
                        id="stage_code"
                        ng-model="praxi.stage_code"
                        required
                        disabled
                        >
                            <option ng-repeat="stage in stages" value="{{stage.code}}">{{stage.name}}</option>
                        </select>
                        <input type="hidden" name="stage_code" ng-model="praxi.stage_code" value="{{praxi.stage_code}}"/>
                        <div class="help-block" ng-messages="praxiForm.stage_code.$error" ng-show="praxiForm.stage_code.$touched">
                            <!-- show an error if this isn't filled in -->
                            <p ng-message="required">Stage code is required.</p>
                        </div>
                    </div>  
                </div>
                <div>
                <div ng-class="{ 'has-error': praxiForm.milestone_key.$touched && praxiForm.milestone_key.$invalid }">
                    <div class="col-xs-12 col-sm-6"><span class="form-label">Milestone Code:</span></div>
                    <div class="col-xs-12 col-sm-6">
                        <select name="milestone_key" id="milestone_key" ng-model="praxi.milestone_key" required>
                            <option ng-repeat="milestone in milestones" value="{{milestone.key}}">{{milestone.key}}</option>
                        </select>
                        <div class="help-block" ng-messages="praxiForm.milestone_key.$error" ng-show="praxiForm.milestone_key.$touched">
                            <!-- show an error if this isn't filled in -->
                            <p ng-message="required">Milestone is required.</p>
                        </div>               
                    </div>  
                </div>
                </div> 
                <div>
                    <div class="col-xs-12 col-sm-6"><span class="form-label">Sequence:</span></div>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" 
                        name="sequence"
                        id="sequence"
                        ng-model="praxi.sequence"
                        required/>
                        <div class="help-block" ng-messages="praxiForm.sequence.$error" ng-show="praxiForm.sequence.$touched">
                            <!-- show an error if this isn't filled in -->
                            <p ng-message="required">Sequence is required.</p>
                        </div>
                    </div>  
                </div>
                <div>
                    <div class="col-xs-12 col-sm-6"><span class="form-label">SLA:</span></div>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" 
                        name="sla"
                        id="sla"
                        ng-model="praxi.sla"
                        required/>
                        <div class="help-block" ng-messages="praxiForm.sla.$error" ng-show="praxiForm.sla.$touched">
                            <!-- show an error if this isn't filled in -->
                            <p ng-message="required">SLA is required.</p>
                        </div>
                    </div>  
                </div>
                <div>
                    <div class="col-xs-12 col-sm-6"><span class="form-label">Tolerance Percentage:</span></div>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" 
                        name="tolerance_percentage"
                        id="tolerance_percentage"
                        ng-model="praxi.tolerance_percentage"
                        required/>
                        <div class="help-block" ng-messages="praxiForm.tolerance_percentage.$error" ng-show="praxiForm.tolerance_percentage.$touched">
                            <!-- show an error if this isn't filled in -->
                            <p ng-message="required">Tolerance percentage is required.</p>
                        </div>
                    </div>  
                </div>
                <div>
                    <div class="col-xs-12 col-sm-6"><span class="form-label">Critical:</span></div>
                    <div class="col-xs-12 col-sm-6">
                        <input type="checkbox" 
                        name="critical"
                        id="critical"
                        ng-model="praxi.critical"
                        value="1"/>
                    </div>  
                </div>
            </div>
        </div>
    	<div class="cols-xs-12 button-pull-right">
            <button type="submit" class="button">Update Praxi</button> <a href="/praxis" class="button">Back To List</a>
        </div>
    </form>
</div>