<div class="form-container">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <span class="form-title">Process</span>        
        </div>   
        <div class="row wrap">
            <div ng-class="{ 'has-error': prosessForm.name.$touched && prosessForm.name.$invalid }">
                <div class="col-xs-12 col-sm-6">
                    <span class="form-label">Process Name:</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <input type="text" name="name" id="name" ng-model="prosess.name"  ng-minlength="3" ng-maxlength="8" required/>
                    <div class="help-block" ng-messages="prosessForm.name.$error" ng-show="prosessForm.name.$touched">
                        <!-- show an error if name is too short -->
                        <p ng-message="minlength">Name is too short.</p>
                    
                        <!-- show an error if name is too long -->
                        <p ng-message="maxlength">Name is too long.</p>
                    
                        <!-- show an error if this isn't filled in -->
                        <p ng-message="required">Your name is required.</p>
                    </div>                    
                </div>  
            </div>
            <div ng-class="{ 'has-error': prosessForm.code.$touched && prosessForm.code.$invalid }">
                <div class="col-xs-12 col-sm-6">
                    <span class="form-label">Process Code:</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <input type="text" name="code" id="code" ng-model="prosess.code"  ng-minlength="3" ng-maxlength="8" required/>
                    <div class="help-block" ng-messages="prosessForm.code.$error" ng-show="prosessForm.code.$touched">
                        <!-- show an error if name is too short -->
                        <p ng-message="minlength">Code is too short.</p>
                    
                        <!-- show an error if name is too long -->
                        <p ng-message="maxlength">Code is too long.</p>
                    
                        <!-- show an error if this isn't filled in -->
                        <p ng-message="required">Your code is required.</p>
                    </div>                    
                </div>  
            </div>
        </div>
    </div>
    <div class="cols-xs-12 button-pull-right">
        <button type="submit" class="button">Add Process</button> <a href="/prosesses"  class="button">Back To List</a>
    </div>
</div>

