body{font-family: 'Montserrat', sans-serif;background-color:#f8f8f8;font-size:13px;color:#7e7e7e;overflow-x:hidden;}
html,body{height:100%;}
body.full-height-layout #wrapper,body.full-height-layout #page-wrapper{height:100%;}
.nav > li > a{color:#000000;font-weight:400;padding:14px 20px 14px 25px;font-size: 12px; letter-spacing: 0.5px;}
.nav.navbar-right > li > a{color:#7e7e7e;}
.nav > li.active > a{color:#0b4776;}
.navbar-default .nav > li > a:hover,.navbar-default .nav > li > a:focus{background-color:#3C3C3C;color:white;}
.nav .open > a,.nav .open > a:hover,.nav .open > a:focus{background:#fff;}
.nav.navbar-top-links > li > a:hover,.nav.navbar-top-links > li > a:focus{background-color:transparent;}
.nav > li > a i{margin-right:6px; color: #e2e2e2;}
.navbar{border:0;}
.navbar-default{background-color:#f8f8f8;border-color:#2f4050;height:100%;
-webkit-box-shadow: 3px 0px 27px -13px rgba(0,0,0,0.55);
-moz-box-shadow: 3px 0px 27px -13px rgba(0,0,0,0.55);
box-shadow: 3px 0px 22px -13px rgba(0,0,0,0.55);
}
.navbar-top-links li{display:inline-block;}
.navbar-top-links li:last-child{margin-right:40px;}
.navbar-top-links li a{padding:12px 10px;min-height:44px;}
.nav.navbar-top-links .dropdown-alerts a{font-size:12px;}
.nav-header{padding:33px 25px;background:url("patterns/header-profile.png") no-repeat;}
.nav > li.active{border-left:4px solid #0b62a4;background:#f2f2f2;}
.nav.nav-second-level > li.active{border:none;}
.nav.nav-second-level.collapse[style]{height:auto !important;}
.nav-header a{color:#DFE4ED;}
.nav-header .text-muted{color:#8095a8;}
.minimalize-styl-2{padding:2px 0px;margin:0 2px 0 17px;font-size:28px;float:left;background-color: transparent;border-color: transparent;color: #494646;}
.nav.navbar-top-links a{font-size:14px;}
.arrow{float:right;}
.fa.arrow:before{content:"\f104";}
.active > a > .fa.arrow:before{content:"\f107";}
.canvas-menu.mini-navbar .nav-second-level{background:#293846;}
.logo-element{text-align:center;font-size:18px;font-weight:600;color:white;display:none;padding:18px 0;}
.pace-done .nav-header{transition:all 0.5s;}
.pace-done .navbar-static-side,.pace-done .nav-header,.pace-done li.active,.pace-done #page-wrapper,.pace-done .footer{-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;}
.navbar-fixed-top{background:#fff;transition-duration:0.5s;border-bottom:1px solid #e7eaec !important;z-index:2030;}
.navbar-fixed-top,.navbar-static-top{background:#f2f3f4;}
.mini-navbar .navbar-static-side{width:70px;}
.mini-navbar .profile-element,body.mini-navbar .nav-label,body.mini-navbar .navbar-default .nav li a span{display:none;}
.mini-navbar .navbar-default .nav > li > a{font-size:16px;}
.mini-navbar .logo-element{display:block;}
.mini-navbar .nav-header{padding:0;background-color:#f3f3f4;}
.mini-navbar #page-wrapper{margin:0 0 0 70px;}
.canvas-menu .logo-element{display:none;}
body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav-second-level{display:none;}
body.body-small.fixed-sidebar.mini-navbar #page-wrapper{margin:0 0 0 220px;}
body.body-small.fixed-sidebar.mini-navbar .navbar-static-side{width:220px;}
.navbar-toggle{background-color:#1c84c6;color:#fff;padding:6px 12px;font-size:14px;}
@media (max-width:768px){.top-navigation .navbar-header{display:block;float:none;}
}
#page-wrapper{min-height:auto;}
.top-navigation.boxed-layout #wrapper,.boxed-layout #wrapper.top-navigation{max-width:1300px !important;}
.block{display:block;}
.clear{display:block;overflow:hidden;}
a{cursor:pointer;}
a:hover,a:focus{text-decoration:none;}
.border-bottom{border-bottom:1px solid #efefef !important; border-top: 1px solid #fff;}
.font-bold{font-weight:600;}
#wrapper{width:100%;overflow-x:hidden;}
#wrapper .sidebar-collapse ul li > a {text-transform: uppercase;}
.wrapper{padding:0 20px;}
.wrapper-content{padding:20px 10px 40px;}
#page-wrapper{padding:0 15px;position:relative !important;}
.gray-bg{background-color:#F2F2F2;}
@media (min-width:768px){
 #page-wrapper{position:inherit;margin:0 0 0 220px;min-height:1200px;}
 .navbar-static-side{z-index:2001;position:absolute;width:220px;}
 .navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts{margin-left:auto;}
 .navbar-content .container-fluid {padding-left:0px;}
 .container {width: auto !important;}	
 .navbar-header { border-right: 1px solid #fff;  padding-right: 13px;}
}
@media (max-width:768px){
 #page-wrapper{position:inherit;margin:0 0 0 0px;min-height:1000px;}
 .body-small .navbar-static-side{display:none;z-index:2001;position:absolute;width:70px;}
 .body-small.mini-navbar .navbar-static-side{display:block;}
 .navbar-form-custom{display:none;}
 .navbar-header{display:inline;float:left;}
}
@media (max-width:350px){
 .nav.navbar-top-links li.dropdown{display:none;}
}
@media (max-width:900px){
 .welcome-message{display:none;}
}
.dropdown{position:relative;margin:0 auto !important;text-align:center;}
nav.navbar-content.navbar.navbar-default { height: 20px; margin: 0px; padding: 0px; min-height: 40px;font-size: 12px;}
.navbar-content .navbar-nav>li>a {line-height: 12px;}
.navbar-content .navbar-nav>.active>a{background-color:#3C3C3C; color: #ffffff;}
body.mini-navbar .navbar-content .nav > li > a {font-size:12px;}
@media only screen and (min-width: 992px) {
.container {width: auto !important;}		
}
#side-menu li {border-top: 1px solid #fff; border-bottom: 1px solid #EAEAEA;}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {background-color: transparent;border-color: transparent;color: #494646;}
.navbar-header-divider {border-left: 1px solid #ebeced;float: left;line-height: 46px;}
.dashboard-header { background-color: #f5f4f4;padding: 13px 20px 15px; border-bottom: 1px solid #E4E4E4 !important;}
.dashboard-header span {padding-right:20px;border-right:1px solid #fff;}
.dashboard-header span.divider {border-left:1px solid #ebeced;padding-left: 20px;} 
.dashboard-header span:last-child {border-right:0px solid #fff;}
.dashboard-header .modTitle {float:left; color: #054679; font-weight: 700;}
.dashboard-header .createBtn {float:right;}
.createBtn .btnLg {font-size: 11px; text-transform: uppercase;font-weight: 700;color: #fff; background-color: #424242; padding: 7px 20px;border-radius: 4px;}

.formWrapper {max-width: 90%;padding: 30px;margin: 50px auto; background-color: #faf8f8; border: 1px solid #e2e2e2;
-webkit-box-shadow: 3px 8px 13px -13px rgba(0,0,0,0.55);
-moz-box-shadow: 3px 8px 13px -13px rgba(0,0,0,0.55);
box-shadow: 3px 8px 13px -13px rgba(0,0,0,0.55);}
.formWrapper .btn-lg {padding: 10px 16px; font-size: 12px;line-height: 1.3333333; border-radius: 0px; background-color: #000;text-transform: uppercase;color: #fff; border: 0px; line-height: 15px;}
.formWrapper #contentTable .table-bordered>thead>tr>th {background-color: #F1F1F1;}
.formWrapper #contentTable a {padding: 0 15px;}
.formWrapper #contentTable .icon {width:13px; height:13px;}
.formWrapper #contentTable table {line-height: 30px;border: 0px solid #ddd;}

.contentWrapper {margin:4%;}
.contentWrapper > div {width:100%; float:left;}
.contentWrapper .icon {width:17px; height:17px; margin: 0px 16px -3px; fill: #636363;}
.contentWrapper .header-title > div {width: 200px;line-height: 38px; padding: 0 20px;background-color: #1b75bc; color: #fff; text-transform: uppercase; margin-right: 1px; float: left;}
.contentWrapper .main-content > div  {width: 200px;line-height: 35px; padding: 0 20px;background-color: #F9F9F9; color: #231F20; text-transform: uppercase; margin-right: 1px; margin-top:1px; float: left;}

.contentWrapper.communication {margin:2% 0%;}
.contentWrapper.communication .icon {width:17px; height:17px; margin: 0px 10px -3px; fill: #636363;}
.contentWrapper.communication .header-title > div {font-size: 12px;width: 14%;line-height: 38px; padding: 0 4px;background-color: #1b75bc; color: #fff; text-transform: uppercase; margin-right: 1px; float: left;}
.contentWrapper.communication .main-content > div  {font-size: 12px;width: 14%;line-height: 35px; padding: 0 4px;background-color: #fff; color: #231F20; text-transform: uppercase; margin-right: 1px; margin-top:1px; float: left;}

@media (max-width:768px){
 #contentTable table,#contentTable thead,#contentTable tbody,#contentTable th,#contentTable td, #contentTable tr {display: block;}
 #contentTable thead tr {position: absolute;top: -9999px;left: -9999px;}
 #contentTable tr { border: 1px solid #D2D2D2; }
 #contentTable td {border: none;border-bottom: 1px solid #eee; position: relative;padding-left: 60%;white-space: normal; text-align:left; font-size:12px;}
 #contentTable td:before {color: #000; position: absolute;left: 10px; width: 45%;padding-right: 10px; white-space: nowrap; text-align:left; text-transform: uppercase;}
 #contentTable td:before { content: attr(data-title); } 
 #contentTable { margin-top: 20px;}
 #contentTable .table-bordered {border:none;}
 #contentTable tr {margin-bottom: 20px;}
/* #contentTable tr td {padding-top:0px !important; padding-bottom:0px !important;} */
 #contentTable tr td.actionsBtn {padding-left: 1%;}
 #contentTable .table-striped>tbody>tr:nth-of-type(odd),  #contentTable .table-striped>tbody>tr {background-color: #efefef;}
 #contentTable .table-bordered > thead > tr > th, #contentTable .table-bordered > tbody > tr > td {border: 1px solid #ffffff !important;border-bottom: 1px solid #D6D4D4 !important;}
 .nav.navbar-right > li > a {color: #000000; text-transform: uppercase;font-size: 12px;letter-spacing: 0px;}
 .nav > li > a i {color: #054679;}
 .minimalize-styl-2 {padding: 2px 16px 2px 0px;}
 .navbar {min-height: 46px;}
 .navbar-top-links li a {padding: 16px 10px 13px;}
 .dashboard-header span {position: relative;top: 2px;}
}
 #contentTable .icon {width:17px; height:17px; margin: 0px 10px -3px; fill: #054679;}
 #contentTable th {color: #FFF; padding-top: 13px; padding-bottom: 13px; background-color: #000; text-transform: uppercase;border-bottom: 0px; font-weight: 400; font-size: 12px;} 
 #contentTable tr td {padding-top: 12px; padding-bottom: 12px;} 
.table-bordered {margin-top: 2%;}