body{font-family: 'Montserrat', sans-serif;background-color:#f8f8f8;font-size:12px;color:#000000;overflow-x:hidden;}
html,body{height:100%;}
body.full-height-layout #wrapper,body.full-height-layout #page-wrapper{height:100%;}
.nav > li > a{color:#000000;font-weight:400;padding:14px 20px 14px 25px;font-size: 12px; letter-spacing: 0.5px;}
.nav.navbar-right > li > a{color:#7e7e7e;}
.nav > li.active > a{color:#0b4776;}
.navbar-default .nav > li > a:hover,.navbar-default .nav > li > a:focus{background-color:#f2f2f2;color:black;}
.nav .open > a,.nav .open > a:hover,.nav .open > a:focus{background:#fff;}
.nav.navbar-top-links > li > a:hover,.nav.navbar-top-links > li > a:focus{background-color:transparent;}
.nav > li > a i{color: #e2e2e2;}
.navbar{border:0;}
.navbar-default{background-color:#f8f8f8;border-color:#2f4050;height:100%;
-webkit-box-shadow: 3px 0px 27px -13px rgba(0,0,0,0.55);
-moz-box-shadow: 3px 0px 27px -13px rgba(0,0,0,0.55);
box-shadow: 3px 0px 22px -13px rgba(0,0,0,0.55);
}
.navbar-top-links li{display:inline-block;}
.navbar-top-links li:last-child{margin-right:40px;}
.navbar-top-links li a{padding:12px 10px;min-height:44px;}
.nav.navbar-top-links .dropdown-alerts a{font-size:12px;}
.nav-header{padding:33px 25px;background:url("patterns/header-profile.png") no-repeat;}
.nav > li.active > a {border-left:4px solid #0b62a4;background:#f2f2f2;}
.nav > li.active > ul {margin-left:0px;}
.nav.nav-second-level > li.active{border:none;}
.nav.nav-second-level.collapse[style]{height:auto !important;}
.nav-header a{color:#DFE4ED;}
.nav-header .text-muted{color:#8095a8;}
.minimalize-styl-2{padding:2px 0px;margin:0 2px 0 17px;font-size:28px;float:left;background-color: transparent;border-color: transparent;color: #494646;}
.nav.navbar-top-links a{font-size:14px;}
.arrow{float:right;}
.fa.arrow:before{content:"\f104";}
.active > a > .fa.arrow:before{content:"\f107";}
.canvas-menu.mini-navbar .nav-second-level{background:#293846;}
.logo-element{text-align:center;font-size:18px;font-weight:600;color:white;display:none;padding:18px 0;}
.pace-done .nav-header{transition:all 0.5s;}
.pace-done .navbar-static-side,.pace-done .nav-header,.pace-done li.active,.pace-done #page-wrapper,.pace-done .footer{-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;}
.navbar-fixed-top{background:#fff;transition-duration:0.5s;border-bottom:1px solid #e7eaec !important;z-index:2030;}
.navbar-fixed-top,.navbar-static-top{background:#f2f3f4;}
.mini-navbar .navbar-static-side{width:70px;}
.mini-navbar .profile-element,body.mini-navbar .nav-label,body.mini-navbar .navbar-default .nav li a span{display:none;}
.mini-navbar .navbar-default .nav > li > a{font-size:16px;}
.mini-navbar .logo-element{display:block;}
.mini-navbar .nav-header{padding:0;background-color:#f3f3f4;}
.mini-navbar #page-wrapper{margin:0 0 0 70px;}
.canvas-menu .logo-element{display:none;}
/*  body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav-second-level{display:none;}  */
body.body-small.fixed-sidebar.mini-navbar #page-wrapper{margin:0 0 0 220px;}
body.body-small.fixed-sidebar.mini-navbar .navbar-static-side{width:220px;}
.navbar-toggle{background-color:#1c84c6;color:#fff;padding:6px 12px;font-size:14px;}
@media (max-width:768px){.top-navigation .navbar-header{display:block;float:none;}
}
#page-wrapper{min-height:auto;}
.top-navigation.boxed-layout #wrapper,.boxed-layout #wrapper.top-navigation{max-width:1300px !important;}
.block{display:block;}
.clear{display:block;overflow:hidden;}
a{cursor:pointer;}
a:hover,a:focus{text-decoration:none;}
.border-bottom{border-bottom:1px solid #efefef !important; border-top: 1px solid #fff;}
.font-bold{font-weight:600;}
#wrapper{width:100%;overflow-x:hidden; height:100%;}
#wrapper .sidebar-collapse ul li > a {text-transform: uppercase;}
.wrapper{padding:0 20px;}
.wrapper-content{padding:20px 10px 40px;}
#page-wrapper{padding:0 15px;position:relative !important;}
.gray-bg{background-color:#F2F2F2;}
@media (min-width:768px){
 #page-wrapper{position:inherit;margin:0 0 0 220px;min-height:1200px;}
 .loginWrapper{margin-left:0px !important;}
 .navbar-static-side{z-index:2001;position:absolute;width:220px;}
 .navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts{margin-left:auto;}
 .navbar-content .container-fluid {padding-left:0px;}
 .container {width: auto !important;}	
 .navbar-header { border-right: 1px solid #fff;  padding-right: 13px;}
}
@media (max-width:768px){
 #page-wrapper{position:inherit;margin:0 0 0 0px;min-height:1000px;}
 .body-small .navbar-static-side{display:none;z-index:2001;position:absolute;width:70px;}
 .body-small.mini-navbar .navbar-static-side{display:block;}
 .navbar-form-custom{display:none;}
 .navbar-header{display:inline;float:left;}
}
@media (max-width:350px){
 .nav.navbar-top-links li.dropdown{display:none;}
}
@media (max-width:900px){
 .welcome-message{display:none;}
}
.dropdown{position:relative;margin:0 auto !important;text-align:center;}
nav.navbar-content.navbar.navbar-default { height: 20px; margin: 0px; padding: 0px; min-height: 40px;font-size: 12px;}
.navbar-content .navbar-nav>li>a {line-height: 12px;}
.navbar-content .navbar-nav>.active>a{background-color:#3C3C3C; color: #ffffff;}
body.mini-navbar .navbar-content .nav > li > a {font-size:12px;}
@media only screen and (min-width: 992px) {
.container {width: auto !important;}		
}
#side-menu li {border-top: 1px solid #fff; border-bottom: 1px solid #EAEAEA;}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {background-color: transparent;border-color: transparent;color: #494646;}
.navbar-header-divider {border-left: 1px solid #ebeced;float: left;line-height: 46px;}
.dashboard-header { background-color: #f5f4f4;padding: 4px 20px 6px; border-bottom: 1px solid #E4E4E4 !important;}
.dashboard-header span {padding-right:20px;border-right:1px solid #fff;}
.dashboard-header span.divider {border-left:1px solid #ebeced;padding-left: 20px;} 
.dashboard-header span:last-child {border-right:0px solid #fff;}
.dashboard-header .modTitle {float:left; color: #054679; font-weight: 700;}
.dashboard-header .createBtn {float:right;}
.createBtn .btnLg {font-size: 11px; text-transform: uppercase;font-weight: 700;color: #fff; background-color: #424242; padding: 7px 20px;border-radius: 4px;}

.formWrapper {max-width: 90%;padding: 30px;margin: 50px auto; background-color: #faf8f8; border: 1px solid #e2e2e2;
-webkit-box-shadow: 3px 8px 13px -13px rgba(0,0,0,0.55);
-moz-box-shadow: 3px 8px 13px -13px rgba(0,0,0,0.55);
box-shadow: 3px 8px 13px -13px rgba(0,0,0,0.55);}
.formWrapper .btn-lg {padding: 10px 16px; font-size: 12px;line-height: 1.3333333; border-radius: 0px; background-color: #000;text-transform: uppercase;color: #fff; border: 0px; line-height: 15px;}
.formWrapper #contentTable .table-bordered>thead>tr>th {background-color: #F1F1F1;}
.formWrapper #contentTable a {padding: 0 15px;}
.formWrapper #contentTable .icon {width:13px; height:13px;}
.formWrapper #contentTable table {line-height: 30px;border: 0px solid #ddd;}

.form-container {max-width: 600px; width: 100%; border: 1px solid #eaeaea; margin: 5%;background-color: #faf8f8;}
.form-container .row {margin-right:0px; margin-left:0px; background-color: #faf8f8; padding-bottom: 10px;}
.form-container .row .wrap {padding-left: 10%; padding-right: 10%;}
.form-container .row .col-sm-12 {background-color: #000;line-height: 46px;text-transform: uppercase; color: #fff;border-bottom: 1px solid #edebeb;margin-bottom: 15px;}
.form-container .button-pull-right {margin: 1% 15px 3%; text-align: center;}
.form-container .row.wrap {border: 1px solid #ffffff;}
.form-container .row.wrap > div {clear:both;}
.form-container .row.wrap .col-sm-6 {margin-top:5px;}
.form-container .row.wrap .col-sm-6 select {width: 100%; height: 35px;padding-left: 12px;}
.form-container .row.wrap .col-sm-6 input#critical {width: 16px; margin-top: 0px;}
.form-container .row.wrap .help-block {margin-top: 0;margin-bottom: 0;}
.form-container .row .form-label, .form-container .row .form-value {line-height:35px; text-transform: uppercase; font-size: 12px; color: #404040;}
.form-container .row input {width:100%;height: 35px; padding-left: 12px;}

.contentWrapper {margin:4%;}
.contentWrapper > div {width:100%; float:left;}
.contentWrapper .icon {width:17px; height:17px; margin: 0px 16px -3px; fill: #636363;}
.contentWrapper .header-title > div {width: 200px;line-height: 38px; padding: 0 20px;background-color: #1b75bc; color: #fff; text-transform: uppercase; margin-right: 1px; float: left;}
.contentWrapper .main-content > div  {width: 200px;line-height: 35px; padding: 0 20px;background-color: #F9F9F9; color: #231F20; text-transform: uppercase; margin-right: 1px; margin-top:1px; float: left;}

.contentWrapper.communication {margin:2% 0%;}
.contentWrapper.communication .icon {width:17px; height:17px; margin: 0px 10px -3px; fill: #636363;}
.contentWrapper.communication .header-title > div {font-size: 12px;width: 14%;line-height: 38px; padding: 0 4px;background-color: #1b75bc; color: #fff; text-transform: uppercase; margin-right: 1px; float: left;}
.contentWrapper.communication .main-content > div  {font-size: 12px;width: 14%;line-height: 35px; padding: 0 4px;background-color: #fff; color: #231F20; text-transform: uppercase; margin-right: 1px; margin-top:1px; float: left;}

#page-wrapper .border-bottom {border-bottom: 1px solid #EAEAEA !important;}
 #contentTable .icon {width:17px; height:17px; margin: 0px 10px -3px; fill: #757575;}
 #contentTable .icon:hover {fill:#054679;}
 #contentTable th {color: #FFF; padding-top: 13px; padding-bottom: 13px; background-color: #000; text-transform: uppercase;border-bottom: 0px; font-weight: 400; font-size: 12px; text-align:center;
    background: -webkit-linear-gradient(0deg, #565656, black); 
    background: -o-linear-gradient(0deg, #565656, black); 
    background: -moz-linear-gradient(0deg, #565656, black); 
    background: linear-gradient(0deg, #565656, black);   
 } 
 #contentTable tr td {padding-top: 12px; padding-bottom: 12px;} 
.table-bordered {margin-top: 2%;}
.dashboard-header span {position: relative;top: 9px;}

.button {display: inline-block;vertical-align: top; position: relative; overflow: hidden; min-width: 96px; line-height: 30px; padding: 0 14px; font-size: 12px; text-transform: uppercase;color: white; text-align: center; text-decoration: none; text-shadow: 0 1px #000000; background-color: #141417; background-clip: padding-box; border: 1px solid; border-color: #272727 #121E2B #121E2B; border-radius: 4px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}
.button:before { content: ''; position: absolute; top: -25%; bottom: -25%; left: -20%; right: -20%; border-radius: 50%; background: transparent; -webkit-box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5); box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);}
.button:hover { background-color: #000000; color: #fff;}
.button:active { color: rgba(255, 255, 255, 0.9); text-shadow: 0 -1px #154c86; background: #000000; border-color: #272727 #121E2B #121E2B;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.4);
  background-image: -webkit-linear-gradient(top, #272727, #121E2B);
  background-image: -moz-linear-gradient(top, #272727, #121E2B);
  background-image: -o-linear-gradient(top, #272727, #121E2B);
  background-image: linear-gradient(to bottom, #272727, #121E2B);
}
.button:active:before { top: -50%; bottom: -125%; left: -15%; right: -15%; -webkit-box-shadow: inset 0 0 96px rgba(0, 0, 0, 0.2); box-shadow: inset 0 0 96px rgba(0, 0, 0, 0.2);}

@media (max-width:768px){
 #contentTable table,#contentTable thead,#contentTable tbody,#contentTable th,#contentTable td, #contentTable tr {display: block;}
 #contentTable thead tr {position: absolute;top: -9999px;left: -9999px;}
 #contentTable tr { border: 1px solid #D2D2D2; }
 #contentTable td {border: none;border-bottom: 1px solid #eee; position: relative;padding-left: 60%;white-space: normal; text-align:left; font-size:12px;}
 #contentTable td:before {color: #000; position: absolute;left: 10px; width: 45%;padding-right: 10px; white-space: nowrap; text-align:left; text-transform: uppercase;}
 #contentTable td:before { content: attr(data-title); } 
 #contentTable { margin-top: 20px;}
 #contentTable .table-bordered {border:none;}
 #contentTable tr {margin-bottom: 20px;}
/* #contentTable tr td {padding-top:0px !important; padding-bottom:0px !important;} */
 #contentTable tr td.actionsBtn {padding-left: 1%;}
 #contentTable .table-striped>tbody>tr:nth-of-type(odd),  #contentTable .table-striped>tbody>tr {background-color: #efefef;}
 #contentTable .table-bordered > thead > tr > th, #contentTable .table-bordered > tbody > tr > td {border: 1px solid #ffffff !important;border-bottom: 1px solid #D6D4D4 !important;}
 .nav.navbar-right > li > a {color: #000000; text-transform: uppercase;font-size: 12px;letter-spacing: 0px;}
 .nav > li > a i {color: #054679;}
 .minimalize-styl-2 {padding: 2px 16px 2px 0px; color:#000000;}
 .navbar {min-height: 46px;}
 .navbar-top-links li a {padding: 16px 10px 13px;}

 .form-container {margin:5% 0 0 0;}
 .form-container .row .wrap {padding-left: 0; padding-right: 0;}
 .form-container .row.wrap .col-sm-6 {margin-top:0px;}
 .form-container .row .col-sm-12 {text-align:center;}
 .signup-wrapper {margin: -3% auto 5% !important;}
 .sentiChart {text-align:center;}

 .pagination {margin: 0 auto; text-align: center;}
 .pagination .number {float:none !important;}
 .pagination .select {float:none !important;}
}

@media (max-width:480px){
 .form-container .button-pull-right .button {margin-bottom:10px;}
 .form-container .row .form-title {font-size: 14px;}
}
@media (min-width:768px){
 #contentTable tr td {padding-left:15px; text-align:center;}
 #contentTable tr td:last-child {padding-left:0px;padding-right:0px;} 
 #contentTable th:last-child {width:120px;}
 #contentTable tbody:nth-child(odd) tr {background: #ECECEC !important;}
 .gray-bg.dashbard-1 {min-height:100% !important;}
 .sentiChart div {float: left; width:28%; margin-right:7%;}
 .sentiChart div:last-child {margin-right: 0px;}
}

.navbar-static-side .icons img {width:20px; margin-right:6px;}

.login-container {max-width: 300px; width: 100%; margin: 100px auto 10px; background-color: #E8E6E6;border-radius: 1px;padding-bottom: 2px;}
.login-container .sentinel-avatar {position: relative; text-align: center;}
.login-container .sentinel-avatar img {width:95px;top: -43px;position: relative;} 
.login-container .login-title h2 {text-align: center; font-size: 16px; margin-top: -8px;margin-bottom: 0px;}
.login-container .login-title span {text-align:center;color:#929292;display:block;}
.login-container .input-login {margin-top:15px; margin-bottom:10px;}
.login-container input {max-width: 230px; width: 100%; margin: 2px auto 3px; display: block; padding: 7px; border: none;font-size: 11px;}
.login-container .help-block {margin-left:43px; margin-bottom:0px; margin-top:0px;}
.login-container .signin {max-width: 230px; width: 100%; display: block; margin: auto; background-color: #000; border: none; color: #fff; text-transform: uppercase; letter-spacing: 1px; padding: 8px 7px 7px;}
.login-container .forgotpassword {max-width: 130px; width: 100%; display: block; margin: 25px auto; background-color: #E8E6E6; border: 1px solid #3076B1; color: #3076B1; text-transform: uppercase; letter-spacing: 0px; padding: 7px 7px 5px; font-size: 10px; font-weight:700;}
.signup-wrapper {max-width: 300px;width: 100%; margin: -3% 7% 5%; background-color: #245279; border-radius: 0px; padding-bottom: 2px; text-align: center; text-transform: uppercase;}
.signup-wrapper a {color: #e2e2e2; padding: 8px 7px 7px;display: block; letter-spacing:0px;}    
.sentiChart {display: block; clear: both;}
.pagination {text-transform: uppercase; width:100%;}
.pagination ul {list-style-type:none;padding-left: 0px; display: inline-block;}
.pagination ul li {display: inline-block;color: #fff; background-color: #000; padding: 8px 10px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}
.pagination ul li:first-child, .pagination ul li:last-child {padding: 8px 25px;}
.pagination ul li:last-child {margin-left: -3px;}
.pagination select {padding: 5px;}
.pagination .number {float:left;}
.pagination .number .pagesNumber {margin-right:3px;}
.pagination .select {float:right;}
