<div ng-show="message.message != null">
    <div ng-show="message.status == 'ok'">
        <div class="success">{{message.message}}</div>
    </div>
    <div ng-show="message.status == 'error'">
        <div class="error">{{message.message}}</div>
    </div>
</div>

<div class="form-container">
    <form ng-submit="updateClient()">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <span class="form-title">Edit Client</span>        
            </div>   
            <div class="row wrap">
                <div>
                    <div class="col-xs-12 col-sm-6"><span class="form-label">Client Name:</span></div>
                    <div class="col-xs-12 col-sm-6"><input type="text" ng-model="client.name" name="name"/></div>  
                </div>
                <div>
                    <div class="col-xs-12 col-sm-6"><span class="form-label">Client Code:</span></div>
                    <div class="col-xs-12 col-sm-6"><input type="text" ng-model="client.code" name="code"/></div>  
                </div>
                <div>
                    <div class="col-xs-12 col-sm-6"><span class="form-label">Organization Code:</span></div>
                    <div class="col-xs-12 col-sm-6">
                        <select name="org_code" ng-model="client.org_code" id="org_code" required disabled >
                            <option ng-repeat="org in orgs" value="{{org.code}}" {{client.org_code == org.code? 'selected':''}}>{{org.name}}</option>
                        </select>
                        <input type="hidden" name="org_code" ng-model="client.org_code" value="{{client.org_code}}"/>
                        <div class="help-block" ng-messages="clientForm.org_code.$error" ng-show="clientForm.org_code.$touched">
                            <!-- show an error if this isn't filled in -->
                            <p ng-message="required">Organization code is required.</p>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <div class="cols-xs-12 button-pull-right">
            <button type="submit" class="button">Update Client</button> <a href="/clients" class="button">Back To List</a>
        </div>
    </form>
</div>


