<div class="login-container">
    <div class="sentinel-avatar">
      <img alt="image" src="/assets/sentinel-logo.png">
	</div>
	<div class="login-title">
	    <h2>Welcome to Sentinel</h2>
	</div>
	
	<div ng-class="{ 'has-error': loginForm.email.$touched && loginForm.email.$invalid }" class="input-login">
	    <div>
	        <input type="text" name="email" id="email" ng-model="session.email"  ng-minlength="3" ng-maxlength="50" placeholder="Email Address" required/>
            <div class="help-block" ng-messages="loginForm.email.$error" ng-show="loginForm.email.$touched">
                <!-- show an error if email is too short -->
                <p ng-message="minlength">Email is too short.</p>
            
                <!-- show an error if email is too long -->
                <p ng-message="maxlength">Email is too long.</p>
            
                <!-- show an error if this isn't filled in -->
                <p ng-message="required">Email is required.</p>
            </div> 	        
	    </div>
	    <div>
	        <input type="password" name="password" id="password" ng-model="session.password"  ng-minlength="6" ng-maxlength="15" placeholder="Password" required/>
            <div class="help-block" ng-messages="loginForm.password.$error" ng-show="loginForm.password.$touched">
                <!-- show an error if email is too short -->
                <p ng-message="minlength">Password is too short.</p>
            
                <!-- show an error if email is too long -->
                <p ng-message="maxlength">Password is too long.</p>
            
                <!-- show an error if this isn't filled in -->
                <p ng-message="required">Password is required.</p>
            </div>  	        
	    </div>
	</div>
	
	<div class="remember"><input type="checkbox" name="remember_me" ng-model="session.remember_me" value="1">&nbsp; Remember Me</div>
	<div><button type="submit" class="signin">Sign In</button></div>
	<div><a href="/forgotpass" class="forgotpassword">Forgot Password?</a></div>	
</div>
<div class="copyright">
    Copyright 2015. Sentinel
</div>
<!-- <div class="signup-wrapper"><a href="/signup">Create and Account</a></div>  -->



